# Part 0

Download the following files:

[Titanic Full](https://drive.google.com/file/d/1jv3Ctntzb07jqmbfTFKZeS699j0jBjjE/view?usp=share_link)

[Titanic Training](https://drive.google.com/file/d/1WNatBun5NcGLtZrzBgb15ima4Euwep9B/view?usp=share_link)

[Titanic Test](https://drive.google.com/file/d/1T0XwZ7VRqY5tAarbdvLEGuYCC4fVR0BY/view?usp=share_link)

Load the three dataframes into memory, naming them titanic, titanic_train, and titanic_test.

This exercise will be auto-graded, so please make sure to follow the instructions **exactly**.

In [50]:
import pandas as pd
import numpy as np
import scipy as sp
titanic = pd.read_csv("/content/titanic.csv")
titanic_train = pd.read_csv("/content/titanic_train.csv")
titanic_test = pd.read_csv("/content/titanic_test.csv")

# Part 1

Write code that takes `titanic` and uses pd.get_dummies() to one-hot encode the "Sex" column, and add those columns to the titanic dataframe. Print the head of the new dataframe. Once we are done with this step, we won't use the `titanic` dataframe for anything else.

In [51]:
one_hot = pd.get_dummies(titanic["Sex"])
titanic = titanic.join(one_hot)
titanic.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Title,Family_Size,female,male
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,Mr,1,0,1
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,Mrs,1,1,0
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,Miss,0,1,0
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,Mrs,1,1,0
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,Mr,0,0,1

# Part 2

Train a [decision tree](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html) using titanic_train. Print out the % accuracy of running the `predict()` function over `titanic_train["Survived"]`. (Basically, we're predicting the decision tree's accuracy on the training set.)

In [52]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

X = titanic_train.drop("Survived", axis=1)
y = titanic_train["Survived"]
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X, y)
y_pred = decision_tree.predict(X)
accuracy = accuracy_score(y, y_pred)
print(accuracy)

0.98125

# Part 3

Print out the trained decision trees accuracy on the test set.

In [53]:
X_test = titanic_test.drop("Survived", axis=1)
y_test = titanic_test["Survived"]
y_pred = decision_tree.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.8351648351648352

# Part 4

Going forward, you will not need titanic_test for anything.

Using [this function](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html), print out the cross-val score for your decision tree with k=10 using **only the training set**. This will be an array of ten numbers.

In [54]:
from sklearn.model_selection import cross_val_score
print(cross_val_score(decision_tree, X, y, cv=10))

[0.7    0.725  0.7875 0.7625 0.8125 0.8    0.75   0.8    0.6875 0.7375]

# Part 5

Print out the ten-fold cross-valdiation results for a [support vector machine](https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html) over the training set.

In [55]:
from sklearn.svm import SVC
svm_model = SVC()
svm_model.fit(X, y)

print(cross_val_score(svm_model, X, y, cv = 10))

[0.6125 0.6    0.6375 0.75   0.7    0.6625 0.675  0.725  0.725  0.7   ]

# Part 5

Print out the ten-fold cross-valdiation results for a [random forest](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html) over the training set.

In [56]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier()
rf_model.fit(X, y)
print(cross_val_score(rf_model, X, y, cv = 10))

[0.75   0.7875 0.7875 0.775  0.875  0.85   0.825  0.85   0.7625 0.8375]